In [1]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
%cd /content/drive/My Drive/panda/

/content/drive/My Drive/panda

#creating two dataframes using dictionary to concante them

In [3]:
import pandas as pd

india_weather = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30],
    "humidity": [80, 60, 78]
})
india_weather

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78

In [4]:
us_weather = pd.DataFrame({
    "city": ["new york","chicago","orlando"],
    "temperature": [21,14,35],
    "humidity": [68, 65, 75]
})
us_weather

       city  temperature  humidity
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

#Basic Concatenation of two dataframes **Using concat() functions**

In [5]:
df = pd.concat([india_weather, us_weather])
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
0  new york           21        68
1   chicago           14        65
2   orlando           35        75

#Ignoring Index **by default ignore_index=False**

In [6]:
df = pd.concat([india_weather, us_weather],ignore_index=True)
df

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78
3  new york           21        68
4   chicago           14        65
5   orlando           35        75

  #**Concatenation And Keys**

In [7]:
df = pd.concat([india_weather, us_weather],keys=['India','Us'])
df

             city  temperature  humidity
India 0    mumbai           32        80
      1     delhi           45        60
      2  banglore           30        78
Us    0  new york           21        68
      1   chicago           14        65
      2   orlando           35        75

#**getting the dataframe Of India dats using the index India we created above**

In [9]:
df.loc["India"]

       city  temperature  humidity
0    mumbai           32        80
1     delhi           45        60
2  banglore           30        78

#**Concatenation Using Index**

#Adding the data of the second dataframe as column in the first dataframe

In [21]:
# creating dataframes
temp_df = pd.DataFrame({
    "city": ["mumbai","delhi","banglore"],
    "temperature": [32,45,30]
},index=[0,1,2])
temp_df

       city  temperature
0    mumbai           32
1     delhi           45
2  banglore           30

In [22]:
# creating dataframe 
wind_df = pd.DataFrame({
    "city": ["delhi","mumbai","banglore"],
    "windspeed": [12,5,10]
},index=[1,0,2])
wind_df

       city  windspeed
1     delhi         12
0    mumbai          5
2  banglore         10

In [23]:
df=pd.concat([temp_df,wind_df])
df

       city  temperature  windspeed
0    mumbai         32.0        NaN
1     delhi         45.0        NaN
2  banglore         30.0        NaN
1     delhi          NaN       12.0
0    mumbai          NaN        5.0
2  banglore          NaN       10.0

#here we appended the two dataframes as above then we didn't get the desired output so we will use axis =1 to add the data in desired format

In [24]:
df=pd.concat([temp_df,wind_df],axis=1)
df

       city  temperature      city  windspeed
0    mumbai           32    mumbai          5
1     delhi           45     delhi         12
2  banglore           30  banglore         10

#**Concatenate dataframe with series**

In [27]:
# creating a series
s=pd.Series(['Humid','dry','Rain'],name='event')
s

0    Humid
1      dry
2     Rain
Name: event, dtype: object

In [31]:
temp_df

       city  temperature
0    mumbai           32
1     delhi           45
2  banglore           30

#concanting the datframe named temp_df with series we created above

In [32]:
df = pd.concat([temp_df,s],axis=1)
df

       city  temperature  event
0    mumbai           32  Humid
1     delhi           45    dry
2  banglore           30   Rain