#Pivot allows to reshape  or transform the data

In [2]:
import pandas as  pd
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [3]:
%cd /content/drive/My Drive/panda/

/content/drive/My Drive/panda

In [5]:
df=pd.read_csv('weather_by_cities.csv')
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

#using pivot in order to get city as index and date as columns

In [8]:
df.pivot(index='city',columns='day')

         temperature                            windspeed                    \
day         1/1/2017 1/2/2017 1/3/2017 1/4/2017  1/1/2017 1/2/2017 1/3/2017
city
mumbai            90       85       87       92         5       12       15
new york          32       36       28       33         6        7       12
paris             45       50       54       42        20       13        8

                     event
day      1/4/2017 1/1/2017 1/2/2017 1/3/2017 1/4/2017
city
mumbai          5    Sunny      Fog      Fog     Rain
new york        7     Rain    Sunny     Snow    Sunny
paris          10    Sunny   Cloudy   Cloudy   Cloudy

#using pivot in order to get day as index and city  as columns and only temperature as the values

In [12]:
df.pivot(index='day',columns='city',values='temperature')

city      mumbai  new york  paris
day
1/1/2017      90        32     45
1/2/2017      85        36     50
1/3/2017      87        28     54
1/4/2017      92        33     42

#**Pivot table is uded to summarize and aggregate the data inside dataframe**

In [15]:
df=pd.DataFrame({
    'day':'01/05/2017',
    'city':['mumbai','mumbai','delhi','delhi'],
    'temp':[32,25,32,40],
    'humidity':[10,32,65,82]
})  
df

          day    city  temp  humidity
0  01/05/2017  mumbai    32        10
1  01/05/2017  mumbai    25        32
2  01/05/2017   delhi    32        65
3  01/05/2017   delhi    40        82

#using pivot_index in order to get avg temp for a city on a specific day

In [17]:

df.pivot_table(index="city",columns="day")

         humidity       temp
day    01/05/2017 01/05/2017
city
delhi        73.5       36.0
mumbai       21.0       28.5

#default valuye of aggfunc is mean 


1.   we can use diif sum count and other function in aggfunc

In [19]:
df.pivot_table(index="city",columns="day",aggfunc='sum')

         humidity       temp
day    01/05/2017 01/05/2017
city
delhi         147         72
mumbai         42         57

#**Margins**  It add all row / columns (e.g. for subtotal / grand totals).

In [25]:
import numpy as np
df.pivot_table(index="city",columns="day", margins=True,aggfunc='sum')

         humidity            temp
day    01/05/2017  All 01/05/2017  All
city
delhi         147  147         72   72
mumbai         42   42         57   57
All           189  189        129  129

#**Grouper**

In [37]:
df1111=pd.DataFrame({
    'date':['01/05/2017','02/05/2017','03/05/2017','01/06/2017','02/06/2017','03/06/2017'],
    'city':['mumbai','mumbai','mumbai','mumbai','mumbai','mumbai'],
    'temp':[32,25,32,40,23,50],
    'humidity':[10,32,65,82,65,97]
})  
df1111

         date    city  temp  humidity
0  01/05/2017  mumbai    32        10
1  02/05/2017  mumbai    25        32
2  03/05/2017  mumbai    32        65
3  01/06/2017  mumbai    40        82
4  02/06/2017  mumbai    23        65
5  03/06/2017  mumbai    50        97

#converting date in date format which is actuallly in string format

In [38]:
df1111['date'] = pd.to_datetime(df1111['date'])

#calculating monthly avg temp

In [39]:

df1111.pivot_table(index=pd.Grouper(freq='M',key='date'),columns='city')

           humidity   temp
city         mumbai mumbai
date
2017-01-31     46.0     36
2017-02-28     48.5     24
2017-03-31     81.0     41